*.aux
*.log
*.out
/slides.pdf
/handout.pdf
/notes.pdf
*.nav
*.snm
*.toc
*.synctex.gz
*.key
*.pptx
/*.mp4
/.venv/
/png/
/images/benchmark_cheby_dense_10.pdf
/images/benchmark_cheby_dense_1000.pdf
/images/benchmark_cheby_dense_1000_1.pdf
/images/benchmark_cheby_dense_1000_2.pdf
/images/benchmark_cheby_dense_1000_3.pdf
/images/benchmark_cheby_dense_1000_4.pdf
/images/benchmark_cheby_dense_10_1.pdf
/images/benchmark_cheby_dense_10_2.pdf
/images/benchmark_cheby_dense_10_3.pdf
/images/benchmark_cheby_dense_10_4.pdf
/images/benchmark_cheby_sparse_1000.pdf
/images/benchmark_cheby_sparse_1000_1.pdf
/images/benchmark_cheby_sparse_1000_2.pdf
/images/benchmark_cheby_sparse_1000_3.pdf
/images/guess_dynamics.pdf
/images/opt_dynamics.pdf
/images/pinwheel.pdf
/images/ramsey.pdf
/images/ramsey_1.pdf
/images/ramsey_2.pdf
/images/ramsey_3.pdf
/images/ramsey_4.pdf
/images/ramsey_5.pdf
/images/ramsey_6.pdf
/images/ramsey_7.pdf
/images/ramsey_8.pdf
/images/rottai_concept.pdf
/images/rottai_conceptNotes.bib
/images/rottai_control_fields.pdf
/images/rottai_control_fields_1.pdf
/images/rottai_control_fields_2.pdf
/images/adiabatic_dynamics_50πps.pdf
/images/animate_rottai.mp4
/images/animate_rottai/
/images/animate_rottai_1.mp4
/images/animate_rottai_2.mp4
/images/animate_rottai_3.mp4
/images/cn_sim_results.pdf
/images/cn_sim_results_1.pdf
/images/cn_sim_results_2.pdf
/images/fidelity_map.pdf
/images/fidelity_map_1.pdf
/images/fidelity_map_2.pdf
/images/guess_dynamics_1.pdf
/images/guess_dynamics_2.pdf
/images/guess_dynamics_3.pdf
/images/guess_dynamics_4.pdf
/images/guess_dynamics_5.pdf
/images/guess_dynamics_6.pdf
/images/guess_sagnac.pdf
/images/guess_sagnac_1.pdf
/images/guess_sagnac_2.pdf
/images/opt_dynamics_1.pdf
/images/opt_dynamics_2.pdf
/images/opt_dynamics_3.pdf
/images/opt_dynamics_4.pdf
/images/opt_dynamics_5.pdf
/images/opt_dynamics_6.pdf
/images/opt_sagnac.pdf
/images/opt_sagnac_1.pdf
/images/opt_sagnac_2.pdf
/images/adiabatic_dynamics_50πps_1.pdf
/images/adiabatic_dynamics_50πps_2.pdf
